<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>05_AdvJavaWithFilters</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- add value in web.xml in contex param and access it in servlet -->
	<!--
	<context-param>
		<param-name>dbdriver</param-name>
		<param-value>com.jdbc.odbc.driver</param-value>
	</context-param>
	-->
</web-app>